.jumbotron
    h2
        strong {{ad.make}}
               |{{ad.model}}
.col-lg-6
    .row
        .col-lg-6
            |Manufacturer:
        .col-lg-6
            strong {{ad.make}}
    .row
        .col-lg-6
            |Model:
        .col-lg-6
            strong {{ad.model}}
    .row
        .col-lg-6
            |Year:
        .col-lg-6
            strong {{ad.year}}
    .row
        .col-lg-6
            |Fuel type:
        .col-lg-6
            strong {{ad.fuelType}}
    .row
        .col-lg-6
            |Transmission:
        .col-lg-6
            strong {{ad.transmission}}
    .row.ad-footer
        .row(ng-show="checkRole('admin')")
            button.btn.btn-danger.admin-delete-button(ng-click="deleteAd()") Delete
        |An offer by
        a(href='#/byuser/{{ad.user._id}}')  {{ad.user.username}}
        |  posted on {{ad.published | date:'medium'}}
.col-lg-6.pull-right
    img(src="pictures/{{ad.picture}}" width="80%")

