doctype default
html(lang="en")
    head
        title
    body
        .jumbotron
            h1 Welcome to CarDealer!
            p
               | CarDealear is the awesomest places to buy a car or sell your old one for some good cash.
               | We hope you'll love it here :)
