.navbar.navbar-inverse
    .container
        .navbar-header
            a.navbar-brand(href="#/") CarDealer
            ul.nav.navbar-nav
                li
                    a(href="#/") Home
                li
                    a(href="#/search") Search

        .collapse.navbar-collapse(data-collapse='!navbarExpanded')
            ul.nav.navbar-nav.navbar-right
                li(data-ng-show='userData.isAuth')
                    a(href='#') Welcome {{userData.username}}
                li(data-ng-show='userData.isAuth')
                    a(href='#/create') Create Ad
                li(data-ng-show='userData.isAuth')
                    a(href='', data-ng-click='logOut()') Logout
                li(data-ng-show='!userData.isAuth')
                    a(href='#/login') Login
                li(data-ng-show='!userData.isAuth')
                    a(href='#/signup') Sign Up
                li(data-ng-show='checkRole("admin")')
                    a(href='#/admin') Admin Panel