.row
    .col-md-3
    .col-lg-6
        .well.bs-component
            form.form-horizontal.form-Login(name='adCreationForm', role='form' , method='post', action='/api/ads', enctype='multipart/form-data')
                input(type='text', id='make', name='make')
                input(type='submit', value='Add Customer')
                legend Create Ad
                .form-group
                    label.col-lg-3.control-label Maker
                    .col-lg-9
                        input.form-control(type='text', placeholder='Maker', id='make', name='make', autofocus='autofocus')
                .form-group
                    label.col-lg-3.control-label Model
                    .col-lg-9
                        input.form-control(type='text', placeholder='Model', id='model', name='model')
                .form-group
                    label.col-lg-3.control-label Year
                    .col-lg-9
                        input.form-control(type='number', placeholder='Year', id='year' , name='year')
                .form-group
                    label.col-lg-3.control-label Fuel Type
                    select.col-lg-9(placeholder='Fuel Type', if='fuelType' , name='fuelType')
                        option Diesel
                        option Gasoline
                        option Propane
                        option CNG
                        option Other
                .form-group
                    label.col-lg-3.control-label Transmission
                    select.col-lg-9(placeholder='Transmission', id='transmission' , name='transmission')
                        option Automatic
                        option Manual
                .form-group
                    label.col-lg-3.control-label Description
                    .col-lg-9
                        textarea.form-control(placeholder='Description', id='description',name='description')
                input.btn.btn-primary.btn-info.btn-block(type='submit', value='Create')
            hr
            div(data-ng-hide='formMessage == ""', data-ng-class='(successfulRegistration) ?"alert alert-success" : "alert alert-danger"')
                | {{formMessage}}
        .col-md-3
